<template>
  <div class="container">
    <body class="jumbotron">
      <h1></h1>
      <table class="table">
        <thead>
          <th>Логин</th>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Роль</th>
        </thead>
        <template v-for="item in this.users" v-bind:key="item">
        <tr>
          <td>{{item.login}}</td>
          <td>{{item.surname}}</td>
          <td>{{item.name}}</td>
          <td>      
            <select @change="onChangeRole($event, item.id_user)"  >
                <option selected disabled>{{searchUserRole(item.id_user).name}}</option>
                <option v-for="item in role" v-bind:value="item.id_role">{{ role.find(i => i.id_role == item.id_role).name}}</option>
            </select>
          </td>
        </tr>
        </template>
      </table>
    </body>
  </div>
</template>
<script>
import UserService from "../services/user.service";
import DataService from "../services/data.service";

export default {
  name: "Admin",
  data() {
    return {
      users: "",
      role: "",
      users_role: "",
      serch: ""
    };
  },
  computed: {

  },
  methods: {
      onChangeRole(event,id_user){
        console.log(event.target.value, id_user);
        UserService.putUserRole(id_user, event.target.value)
      },
      searchUserRole(id_user){
        var ur = Array.from(this.users_role);
        const role = ur.find(i => i.id_user == id_user).id_role;    
        const arr = Array.from(this.role);
        const res = arr.find(i => i.id_role == role);
        return res
      }
  },
  mounted() {
    
    UserService.getUsers().then(
      (response) => {
        this.users = response.data;
      },
      (error) => {
        this.users =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
    UserService.getRole().then(
      (response) => {
        this.role = response.data;
      },
      (error) => {
        this.role =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
    UserService.getUserRole().then(
      (response) => {
        this.users_role = response.data;
      },
      (error) => {
        this.users_role =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
  },
};
</script>