<template>
    <!--  м.б модальное окно -->
    <div class="container">

        <body class="jumbotron">
            <h3>Заполнение карточки книги</h3>
            <div class="col-md-12">
                <div class="card card-container">
                    <Form @submit="handleBookCard" :validation-schema="schema">
                        <div class="form-group">
                            <label for="nam">NAM</label>
                            <Field name="nam" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Название</label>
                            <Field name="name" type="text" class="form-control" />
                            <ErrorMessage name="name" class="error-feedback" />
                        </div>
                        <div class="form-group">
                            <label for="surname">Год публикации</label>
                            <Field name="surname" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="number">number</label>
                            <Field name="number" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="pages_amount">Количество страниц</label>
                            <Field name="pages_amount" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="id_category">Категория</label> <!-- select -->
                            <select name="id_category" class="form-control">
                                <option v-for="item in categories" v-bind:value="item.id_category">{{ item.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="annotation">Анотация</label>
                            <textarea name="annotation" type="textarea" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="series">series</label>
                            <Field name="series" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="data">Дата поступления</label>
                            <Field name="data" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="in_stock">На складе</label> <!-- check box -->
                            <input name="in_stock" type="checkbox" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" :disabled="loading">
                                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                                Зарегистрировать
                            </button>
                        </div>
                    </Form>
                    <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
                        {{ message }}
                    </div>
                </div>
            </div>
        </body>
    </div>
</template>
<script>
import DataService from "../services/data.service";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
export default {
    name: "BookCard",
    components: {
        Form,
        Field,
        ErrorMessage,
    },
    data() {
        const schema = yup.object().shape({
            NAM: yup
                .string()
                .required("login is required!")
                .min(3, "Must be at least 3 characters!")
                .max(20, "Must be maximum 20 characters!"),
            name: yup
                .string()
                .required("min is required!")
                .max(50, "Must be maximum 50 characters!"),
            number: yup
                .string()
                .required("min is required!")
                .max(50, "Must be maximum 50 characters!"),
            pages_amount: yup
                .string()
                .required("min is required!")
                .max(50, "Must be maximum 50 characters!"),
            series: yup
                .string()
                .required("Password is required!")
                .min(6, "Must be at least 6 characters!")
                .max(40, "Must be maximum 40 characters!"),
        });
        return {
            schema,
            categories: "",

        };
    },
    computed: {

    },
    methods: {
        handleBookCard(book) {

        }
    },
    mounted() {
        DataService.getCategory().then(
            (response) => {
                this.categories = response.data;
            },
            (error) => {
                this.categories =
                    (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                    error.message ||
                    error.toString();
            }
        );
    },
};
</script>