<template>
  <div class="container">
    <header class="jumbotron">
        <div v-if="!currentUser">
          <h3>Вам необходимо войти или зарегистрироваться</h3>
          <p><b>При регистрации вам будут выданы права гостя</b></p>
          <p><b>Для повышения привелегий необходимо обратится к администратору</b></p>
        </div>
    </header>
  </div>
</template>
<script>
export default {
  name: "Home",
  data() {
    return {
      content: "",
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {

  },
};
</script>