<template>

    <div class="container">
        <header class="jumbotron">
            <div v-if="currentUser" v-bind:refresh-token="refreshToken">
                <!-- сделать проверку -->
                <table class="table">
                    <thead>
                        <th>Название</th>
                        <th>NAM</th>
                        <th>Год издания</th>
                        <th>Кол-во страниц</th>
                        <th>Серия</th>
                        <th>Где</th>
                        <th>Действие</th>
                    </thead>
                    <template v-for="book in books" v-bind:key="book.nam">
                        <tr>
                            <td>{{ book.name }}</td>
                            <td>{{ book.nam }}</td>
                            <td>{{ new Date(book.publishing_year).getFullYear() }}</td>
                            <td>{{ book.pages_amount }}</td>
                            <td>{{ book.series }}</td>
                            <td v-if="action_with_book.find(i => i.nam == book.nam)">{{
                                    actions.find(l => l.id_action == action_with_book.find(i => i.nam ==
                                        book.nam).id_action).name.replaceAt(4, "н")
                            }}</td><!-- лажа какая, самому смешно от того что написал -->
                            <td v-else>
                                В библиотеке
                            </td>
                            <td v-if="action_with_book.find(i => i.nam == book.nam)">
                                <button @click="deleteAction(book.nam)" type="button">Вернуть</button>
                            </td>
                            <td v-else>
                                <button @click="selectBook(book.nam); toggleModal();" type="button">Выдать</button>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
        </header>

    </div>
    <Modal @close="toggleModal" :modalActive="modalActive">
        <div class="modal-content">
            <form>
                <p>
                    <strong>Действие:</strong>
                    <select v-model="select_action">
                        <option v-for="item in actions" v-bind:value="item.id_action">{{ item.name }}</option>
                    </select>
                </p>
                <div v-if="select_action == 2">
                    <strong>Дата выдачи:</strong>
                    {{ new Date().toISOString().split('T')[0] }}
                </div>
                <div v-if="select_action == 1 || getReader()">
                    <p>
                        <strong>Читатель:</strong>
                        <select v-model="select_reader">
                            <option v-for="item in readers" v-bind:value="item.id_reader">
                                {{ `${item.ticket_number} ${item.surname} ${item.name} ${item.patronymic}` }}
                            </option>
                        </select>
                    </p>
                    <p>
                        <strong>Дата выдачи:</strong>
                        <input v-model="data_now" type="date" />

                    </p>
                    <p>
                        <strong>Дата возврата:</strong>
                        <input v-model="select_data" type="date" />
                    </p>

                </div>
            </form>
        </div>
        <p>
            {{ error }}
        </p>
        <button v-if="select_action" @click="save()" type="button">Сохранить</button>
    </Modal>
</template>
<script>
import DataService from "../services/data.service";
import { ref } from "vue";
import Modal from "./Modal"

String.prototype.replaceAt = function(index, replacement) {
    return this.substring(0, index) + replacement + this.substring(index + replacement.length);
}

export default {
    name: "LendingBooks",
    components: {
        Modal
    },
    setup() {
        const modalActive = ref(false);
        const toggleModal = () => {
            modalActive.value = !modalActive.value;
        };
        return { modalActive, toggleModal };
    },
    data() {
        return {
            refreshToken: 1,
            readers: "",
            action_with_book: "",
            select_reader: null,
            books: "",
            actions: "",
            showModal: false,
            select_action: "",
            select_data: null,
            select_book: "",
            data_now: new Date().toISOString().split('T')[0],
            error: "",
            info_acton: ""
        };
    },
    methods: {
        deleteAction(nam) {
            DataService.deleteActionWithBooks(nam).then(
                (response) => {
                    this.info_acton = response.data;
                    DataService.getActionWithBooks().then( // устал, не стал выдумывать и просто вытащил все действия с книгами 
                        (response) => {
                            this.action_with_book = response.data;
                            console.log(this.action_with_book);
                            this.refreshToken += 1;
                        },
                        (error) => {
                            this.action_with_book =
                                (error.response &&
                                    error.response.data &&
                                    error.response.data.message) ||
                                error.message ||
                                error.toString();
                        }
                    );
                },
                (error) => {
                    this.info_acton =
                        (error.response &&
                            error.response.data &&
                            error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );

        },
        selectBook(nam) {
            this.select_book = nam;
        },
        save() {
            if (this.select_action == 1 && (!this.select_reader || !this.select_data || !this.data_now)) {
                this.error = "данные не введены"
                return
            }
            const action_with_book = {
                "id_action": this.select_action,
                "id_reader": this.select_reader,
                "nam": this.select_book,
                "date_form": this.data_now,
                "date_to": this.select_data
            }
            DataService.postActionWithBook(action_with_book).then(
                (response) => {
                    this.info_acton = response.data;
                    DataService.getActionWithBooks().then( // устал, не стал выдумывать и просто вытащил все действия с книгами 
                        (response) => {
                            this.action_with_book = response.data;
                            console.log(this.action_with_book);
                            this.refreshToken += 1;
                        },
                        (error) => {
                            this.action_with_book =
                                (error.response &&
                                    error.response.data &&
                                    error.response.data.message) ||
                                error.message ||
                                error.toString();
                        }
                    );
                },
                (error) => {
                    this.info_acton =
                        (error.response &&
                            error.response.data &&
                            error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
            this.select_action = ""
            this.select_reader = ""
            this.select_book = ""
            this.select_data = ""
            this.error = ""
            this.modalActive = false



        },
        getReader() {
            DataService.getReaders().then(
                (response) => {
                    this.readers = response.data;
                },
                (error) => {
                    this.readers =
                        (error.response &&
                            error.response.data &&
                            error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
        lendingBooks(id) {
            console.log(id);
            this.$refs.modal.show = true

        }
    },
    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        },

    },
    mounted() {
        DataService.getBooks().then(
            (response) => {
                this.books = response.data;
                console.log(this.books);
            },
            (error) => {
                this.books =
                    (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                    error.message ||
                    error.toString();
            }
        );
        DataService.getActionWithBooks().then( // устал, не стал выдумывать и просто вытащил все действия с книгами 
            (response) => {
                this.action_with_book = response.data;
                console.log(this.action_with_book);
            },
            (error) => {
                this.action_with_book =
                    (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                    error.message ||
                    error.toString();
            }
        );
        DataService.getAction().then(
            (response) => {
                this.actions = response.data;
                this.actions.pop()
                console.log(this.actions);
            },
            (error) => {
                this.actions =
                    (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                    error.message ||
                    error.toString();
            }
        );
    },
};
</script>
 
<style lang="scss">
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.page {
    position: relative;
    width: 100%;
    min-height: 100%;
}

button {
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
</style>