<template>
  <div class="container">
    <header class="jumbotron">
      <h3>
        <strong>{{currentUser.userName}}</strong> Профиль
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{currentUser.token.substring(0, 20)}} ... {{currentUser.token.substr(currentUser.token.length - 20)}}
    </p>
    <p>
      <strong>Имя:</strong>
      {{currentUser.userName}}
    </p>
    <p>
      <strong>Фамилия:</strong>
      {{currentUser.userSurname}}
    </p> 
    <p>
      <strong>Роль:</strong>
      {{findRole(currentUser.userRole).name}}
    </p>
  </div>
</template>
<script>
import UserService from "../services/user.service";

export default {
  name: "Profile",
    data() {
      return {
        role: ""
      };
  },

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    findRole: function(userRole){
      if(this.role){
        return this.role.find( i => i.id_role == userRole)
      }
      return {name: "null"}
    }
  },
  filters: {

  },
  mounted() {
    UserService.getRole().then(
      (response) => {
        this.role = response.data;
      },
      (error) => {
        this.role =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  },
};
</script>