<template>
    <div class="container">
        <header class="jumbotron">
            <h2>Поиск читателя (книги взятые читателем)</h2>
            <p>
                <strong>Читетель:</strong>
                <select v-model="select_reader" @change="onChangeReader($event)">
                    <option v-for="item in readers" v-bind:value="item.id_reader">
                    {{ `${item.ticket_number} ${item.surname} ${item.name} ${item.patronymic}`}}
                    </option>
                </select>
            </p>
            <p v-if="select_reader">
                {{readersFind(select_reader)}}
            </p>
            <table class="table">
                <thead>
                    <th>Название</th>
                    <th>NAM</th>
                    <th>Год издания</th>
                    <th>Кол-во страниц</th>
                    <th>Серия</th>
                    <th>Action</th>
                </thead>
                <template v-for="item in books" v-bind:key="item">
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.nam }}</td>
                        <td>{{ new Date(item.publishing_year).getFullYear() }}</td>
                        <td>{{ item.pages_amount }}</td>
                        <td>{{ item.series }}</td>
                        <td>{{ actions.find(l => l.id_action == action_with_book.find( i => i.nam == item.nam).id_action).name }}</td><!-- лажа какая -->
                    </tr>
                </template>
            </table>
        </header>
    </div>
</template>
<script>
import DataService from "../services/data.service";
export default {
    name: "SearchReader",
    data() {
        return {
            readers: "",
            action_with_book: "",
            select_reader: "",
            books: [],
            actions: ""
        };
    },
    methods: {
        readersFind(select_reader){
            const {surname, name, patronymic, ticket_number, phone_number} = this.readers.find(i => i.id_reader == select_reader)
            return `ФИО: ${surname} ${name} ${patronymic} Читательский билет: № ${ticket_number} Номер телефона: ${phone_number}`
        },
        onChangeReader(event) {
            DataService.getActionWithBooks(event.target.value).then(// такая дичь из за асинхроного выполнения
                (response) => {
                    this.action_with_book = response.data;
                    let book = ""
                    this.action_with_book.forEach(element => {
                        DataService.getBook(element.nam).then(
                            (response) => {
                                book = response.data;
                                this.books.push(book)
                            },
                            (error) => {
                                book =
                                    (error.response &&
                                        error.response.data &&
                                        error.response.data.message) ||
                                    error.message ||
                                    error.toString();
                            }
                        );

                    });
                },
                (error) => {
                    this.action_with_book =
                        (error.response &&
                            error.response.data &&
                            error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );

        }
    },
    mounted() {
        DataService.getReaders().then(
            (response) => {
                this.readers = response.data;
            },
            (error) => {
                this.readers =
                    (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                    error.message ||
                    error.toString();
            }
        );
        DataService.getAction().then(
            (response) => {
                this.actions = response.data;
            },
            (error) => {
                this.actions =
                    (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                    error.message ||
                    error.toString();
            }
        );
    },
};
</script>