<template>
  <div class="container">
    <body class="jumbotron">
      <p>
      <strong>Категория:</strong>
      <select v-model="select_category" @change="onChangeCategory($event)"  >
        <option v-for="item in categories" v-bind:value="item.id_category">{{ item.name }}</option>
      </select>
      </p>
      <p>
      <strong>Автор:</strong>
      <select  v-model="select_author" @change="onChangeAuthor($event)"  >
        <option v-for="item in authors" v-bind:value="item.id_author">{{ `${item.surname} ${item.name} ${item.patronymic}` }}</option>
      </select>
      </p>
      <p>
         <button v-on:click="clearSearch()">Очистить фильтры</button>
      </p>
      <table class="table">
        <thead>
          <th>Название</th>
          <th>NAM</th>
          <th>Год издания</th>
          <th>Кол-во страниц</th>
          <th>Серия</th>
        </thead>
        <template v-for="item in book" v-bind:key="item">
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.nam}}</td>
          <td>{{new Date(item.publishing_year).getFullYear()}}</td>
          <td>{{item.pages_amount}}</td>
          <td>{{item.series}}</td>
        </tr>
        </template>
      </table>
    </body>
  </div>
</template>
<script>
import DataService from "../services/data.service";

export default {
  name: "Search",
  data() {
    return {
      content: "",
      book: "",
      categories: "",
      category: "",
      authors: "",
      author_book: "",
      select_author: "",
      select_category: ""
    };
  },
  methods: {
      clearSearch(){
        this.select_author = ""
        this.select_category = ""
        DataService.getBooks().then( //переписать, DRY
        (response) => {
          this.book = response.data;
        },
        (error) => {
          this.book =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        });
      },
      onChangeCategory(event){
          this.book = this.book.filter( i => i.id_category == event.target.value)
          console.log(this.book);
      },
      onChangeAuthor(event){
          DataService.getAuthorBook(event.target.value).then(
          (response) => {
            this.author_book = response.data;
            console.log(this.author_book);
            this.author_book.forEach(element => {
              this.book = this.book.filter( i => i.nam == element.nam)
            })
          },
          (error) => {
            this.author_book =
              (error.response &&
                error.response.data &&
                error.response.data.message) ||
              error.message ||
              error.toString();
          })

          console.log(this.book);
      }
  },
  mounted() {
      DataService.getAuthor().then(
      (response) => {
        this.authors = response.data;
      },
      (error) => {
        this.authors =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
      DataService.getCategory().then(
      (response) => {
        this.categories = response.data;
      },
      (error) => {
        this.categories =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
      DataService.getBooks().then(
      (response) => {
        this.book = response.data;
      },
      (error) => {
        this.book =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
  },
};
</script>